.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts li {
  border-radius: 4px;
  padding: 1rem;
  /* background-color: #343232; */
  /* text-decoration: none;
  color: inherit;
  display: block; */
}

.posts li:hover {
  background-color: #665a4d;
  cursor: pointer;
}
